Web References/Webservice_taigu/PowerMeterDatas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://endpoint.taigu.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="PowerMeterDatas" targetNamespace="http://endpoint.taigu.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://endpoint.taigu.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="GetPowerMeterDatas" type="tns:GetPowerMeterDatas" />
      <xs:element name="GetPowerMeterDatasResponse" type="tns:GetPowerMeterDatasResponse" />
      <xs:complexType name="GetPowerMeterDatas">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
          <xs:element minOccurs="0" name="arg2" type="xs:string" />
          <xs:element minOccurs="0" name="arg3" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetPowerMeterDatasResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="GetPowerMeterDatasResponse">
    <wsdl:part name="parameters" element="tns:GetPowerMeterDatasResponse" />
  </wsdl:message>
  <wsdl:message name="GetPowerMeterDatas">
    <wsdl:part name="parameters" element="tns:GetPowerMeterDatas" />
  </wsdl:message>
  <wsdl:portType name="PowerMeterDatas">
    <wsdl:operation name="GetPowerMeterDatas">
      <wsdl:input name="GetPowerMeterDatas" message="tns:GetPowerMeterDatas" />
      <wsdl:output name="GetPowerMeterDatasResponse" message="tns:GetPowerMeterDatasResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PowerMeterDatasSoapBinding" type="tns:PowerMeterDatas">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPowerMeterDatas">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="GetPowerMeterDatas">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetPowerMeterDatasResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PowerMeterDatas">
    <wsdl:port name="PowerMeterDatasImplPort" binding="tns:PowerMeterDatasSoapBinding">
      <soap:address location="http://221.230.60.23:8000/taigu/services" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>